.drums .buttons {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.enter-drums {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 10px;
}

.delete-drums {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 10px;
}

.add-measure {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 10px;
}

.drum-pieces {
    display: flex;
    align-items: center;
}

/* .drum-names {
    align-items: center;
}

.measures {
    align-items: center;
} */


