.instruments {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

.chords {
    position: relative;
    height: 125px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: #ccffae7a; */
}

.drums {
    position: relative;
    height: 125px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: #ccffae7a; */
}

.bpm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bpm div {
    justify-content: center;
}
