.scroller-container {
    display: flex;
    justify-content: center;
}

.scroller {
    height: 200px;
    width: 1150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroller-buttons {
    display: flex;
}

.start-music {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
    padding: 5px;
}

.mute-all {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
    padding: 5px;
}

.scroll-bar {
    display: flex;
}

.scroller-titles {
    margin: 10px;
}

.scrollers {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    margin: 10px;
}

.chords-scroller-region {
    border: 1px solid black;
    border-radius: 10px;
    width: 960px;
    min-height: 30%;
    display: flex;
}

.display-chord {
    /* border: .025px solid darkblue; */
    border-radius: 7px;
    min-height: 30%;
    background-color: #00ddff;
}

.drums-scroller-region {
    margin-top: 10px;
    margin-left: 1px;
    border: 1px solid black;
    border-radius: 10px;
    width: 960px;
    min-height: 30%;
    display: flex;
}

.display-drums {
    /* border: .025px solid darkblue; */
    border-radius: 10px;
    min-height: 30%;
    background-color: #00ddff;
}

.time-scroller-region {
    width: 100%;
    min-height: 30%;
    display: flex;
    align-items: center;
}

.tick-off {
    margin-top: -10px;
    margin-right: 10px;
    appearance: none;
    height: 10px;
    width: 10px;
    /* background-color: rgba(127, 255, 212, 0.696); */
    background-color: red;
    border-radius: 2px;
}

.tick-on {
    margin-top: -10px;
    margin-right: 10px;
    appearance: none;
    height: 10px;
    width: 10px;
    /* background-color: rgb(191, 255, 127); */
    background-color: blue;
    border-radius: 2px;
    z-index: 1;
    display: none;
}